<table class="table">
    <thead class="thead-dark">
     <tr><th>Title</th><th>Category</th></tr>
    </thead>
    <% @articles.each do |article| %>
        <tr><td><%= link_to article.title, article_path(article) %></td><td><%= article.category.name %></td></tr>
    <% end %>
</table>