<%= form_with model: [@course, @chapter] do |chapter| %>

    <div class="field">
        <%= chapter.label :title %><br />
        <%= chapter.text_field :title %>
    </div>

    <div class="actions">
        <%= chapter.submit "更新" %>
    </div>

<% end %>
