// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-view {

    .sb-sidenav-menu {
        margin-left: 10px;
    }

    main {
        margin-top: 30px;
    }

    .custom-select {
        min-width: 200px;
        margin-bottom: 10px;
    }

    .table {
        max-width: 600px;
    }

    .card-body {
        position: relative;

        .card-good {
            padding-top: 5px;
        }

        .card-username {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }

        a:hover {
            color: #FF5722 !important;
        }
    }

    .pagination {
        margin-top: 20px;
    }
}

.new-view {
    width: 90%;
    margin: 0 auto;
    margin-right: auto !important;
    max-width: 900px;

    nav a:hover {
        text-decoration: none;
        color: black;
    }

    .title {
        font-size: 50px;
        font-weight: 300;
        color: black;
        letter-spacing: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .field,
    .actions {
        margin: 20px;
    }

    .title_field {
        min-width: 60vw;
        width: 100%;
        height: 40px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-size: 20px;
    }

    .tab-content {
        min-height: 300px;
    }

    .content_field {
        min-width: 60vw;
        width: 100%;
        height: 300px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .create-btn {
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #67c5ff;
        border: dashed 1px #67c5ff;
        background: #f2fcff;
        border-radius: 3px;
        transition: .4s;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .create-btn:hover {
        background: #cbedff;
        color: #FFF;
    }

    .actions {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 375px) {
        h2 {
            font-size: 40px;
        }
    }
}


.show-view {

    margin: 10px;

    main {
        margin: 0 auto;
    }

    .section-content {
        margin: 0 10px;
    }

    .favorite-link {
        vertical-align: middle;
        margin: 3px;
        margin-right: 20px;
    }
}