// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background: #bcdee7;
}
.index-view {
    @import url(https://fonts.googleapis.com/css?family=Varela+Round);

    font-family: "Montserrat", sans-serif;
    margin-right: 0;

    section {
        margin-top: 50px;
    }

}

.course-ul {
    width: 90%;
    margin: 0 auto 100px;
    padding: 10px;
    display: flex;

    li {
        min-height: 320px;
        width: 240px;
        background: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 30px 0 rgba(0,0,0,0.3);
        border-radius: 7px;
        text-align: center;
        padding: 60px 10px 0;
        margin: 60px 10px 0;
    }

    .course-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 2em;
        background: #eee;
        box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }
    .progress{
        width: 80%;
        margin: auto auto 20px;
    }
    h1 {
        font-family: "Varela Round", sans-serif;
        font-size: 24px;
        margin-bottom: .6em;
        color: #FF5722;
    }
    p {
        color: rgba(0,0,0,0.5);
        font-size: .8em;
        margin-bottom: 2em;
    }      
    a {
        text-decoration: none;
        color: #FF5722;
        letter-spacing: .2em;
        font-size: .8em;
    }
    a:hover {
        color: darkturquoise;
    }
    input[type=file] {
        display: none !important;
      }
}

.form-modal {
    max-width: 400px;
    height: 500px;
    width: 90vw;
    justify-content: center;
    align-items: center;

    .course-ul {
        width: 100%;
        margin: 10px auto;
        li {
            width: 100%;
            margin: 20px auto 0;

            img {
                background-color: #fff;
                border: 1px solid rgb(216, 208, 208);

            }
        }
    }
}

.show-view {

    section {
        background: #bcdee7;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 50px;
        p {
            width: 70%;
            margin: 20px auto 0;
        }
    }
    main {
        width: 80%;
        margin: 30px auto 50px;
    }
    .course-progress {
        width: 80%;
        margin: 50px auto 0;
    }
    .chapter-progress {
        width: 84%;
        margin: 0 auto 10px;
    }
    .chapter-list {
        padding: 0;
        font: 14px/1.6 'arial narrow', sans-serif;
        width: 66%;
        min-width: 280px;
        margin: 0 auto;
        list-style: none;

        .chapter-list-title {
            font-weight: bold;
            letter-spacing: .1em;
            font-size: 1.125rem;
            margin-bottom: 0;
        }

        .nav-item {
            min-height: 70px;
            position: relative;
            padding: 5px 5px 0px 10px;
            margin-bottom:5px;
            border-left: solid 5px #5c9ee7;
            background: #f1f8ff;
            color: #5c9ee7;
            font-weight: bold;
            -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
            -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
            box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;

            .nav-headline {
                min-height: 50px;
            }
            .nav-link {
                display: inline-block;
            }
            .nav-link:hover {
                color: #F6A38B;
            }
            button {
                flex: auto;
                i {
                    float: right;
                    padding-right: 10px;
                }
            }
            button:hover {
                color: #F6A38B;
            }
        }
        .section-item {
            height: 50px;
            position:relative;
            padding: 0 0 0 20px;
            margin: 0 7px 7px;
            font-weight: bold;
            font-size:14px;
            line-height: 30px;
            border-bottom: dashed 1px #F6A38B;
            background-color: white;
            .completed-icon {
                flex: auto;
            }
            i {
                float: right;
                padding-right: 20px;
                font-size: 20px;
            }
        }
    }
    .chapter-form {
        .input-group {
            width: 80%;
            margin-left: 10px;
            padding-top: 10px;
        }
    }
}
